<ngx-spinner  type="ball-pulse" ></ngx-spinner>
<section>
  <div class="container mt-5">
    <div class="row mt-4">
      <div class="col-8">
        <h1>Users</h1>
        <p>
          If you want to get contact information to specific user,
          just select group and then select him from the list below.
        </p>

        <div class="form-group row mb-4">
          <label for="select-user" class="col-sm-3 col-form-label">Select group of users:</label>
          <div class="col-sm-8">
            <select class="form-control" id="select-user" (change)="getByCategory($event.target.value)">
              <option [value]="['student']">Students</option>
              <option [value]="['educator']">Educators</option>
              <option [value]="['programmer']">Programmers</option>
              <option [value]="['accountant']">Accountants</option>
              <option [value]="['auditor']">Auditors</option>
            </select>
          </div>
        </div>

        <div class="form-group row mb-4">
          <div class="col-10">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
              <span class="input-group-text" id="search">
                ﻿﻿🔎
              </span>
              </div>
              <input type="text" [(ngModel)]="searchTerm" (keyup)="filterUsers()" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="search">
            </div>
          </div>
          <div class="col-2">
            <button (click)="filterUsers()" class="btn btn-primary">Search</button>
          </div>
        </div>

        <div class="row mt-4 mb-4">
          <div class="col-sm-6 col-12" *ngFor="let user of users">
            <div class="row no-gutters link mb-3 no--border border-radius" [ngClass]="{' border border-secondary' : userDetailEmail == user.email, ' ' : userDetailEmail != user.email}" (click)="getUserDetails(user)">
              <div class="col-3 ">
                  <img class="rounded-circle border border-light img-fluid" [src]="user.picture.thumbnail" alt="{{user.name.first}}">
              </div>
              <div class="col-9 pl-2 pt-2">
                <p class="text-capitalize">{{user.name.first}} {{user.name.last}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-4">
        <div class="card" *ngIf="userDetailsMode == true">
          <img class="card-img blur" [src]="userDetails.picture.large" alt="Card image cap">
          <div class="card-img-overlay card-img-overlay--tf text-center text-white">
            <img class="card--img rounded-circle border border-light img-fluid mb-3" [src]="userDetails.picture.medium" alt="{{userDetails.name.first}}">
            <h5 class="card-title text-capitalize">{{userDetails.name.first}} {{userDetails.name.last}}</h5>
            <p class="card-text text-capitalize">{{userCategorySelected}}</p>
          </div>
          <div class="card-body">
            <p class="card-text text-muted mb-1 mt-4">
              Short bio
            </p>
            <p class="card-text text-justify">
              Lorem ipsum dolor sit amet, sed graeci scripta integre an, summo inciderint.
            </p>
            <p class="card-text text-muted mb-1">
              Email Address
            </p>
            <p class="card-text">
              {{userDetails.email}}
            </p>
            <p class="card-text text-muted mb-1">
              Phone number
            </p>
            <p class="card-text">
              {{userDetails.phone}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
