/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap";

.link{
  cursor: pointer;
}

.card{
  &-img-overlay{
    &--tf{
      top: 15%;
    }
  }
}
.no--border {
  border: 1px solid transparent;
  width: 80%;
}

.border{
  &-radius{
    border-radius: 1.6rem;
  }
}

.blur {
  -webkit-filter: blur(8px) grayscale(30%);
}

.card{
  &--img{
    width: 40%;
  }
}